html,
      body,
      #app,
      #app > div {
        padding: 0;
        margin: 0;
        height: 100%;
      }
      html,
      body {
        overflow: hidden;
      }
      /* hide scrollbars */
      ::-webkit-scrollbar {
        display: none;
      }
      * {
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-font-smoothing: antialiased;
      }
      .grecaptcha-badge {
        visibility: hidden;
      }